.enter{	
	background-image:url("https://cvvan.github.io/bgPic.png");
  	overflow:hidden;
	margin:0;
	background-color:#000000;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top;
	min-width:100%;	
	min-height:200%;
        -webkit-animation: fadeinbox 6s 1;
	animation-name:fadeinbox;
	animation-duration:4s;
	animation-iteration-count: 1;
	opacity:0.7;
	filter:alpha(opacity=70);
  
}

.main{
	background-color:#fff6e6;
	margin:0;
}
p{
	padding:15px;
	text-align:justify;
	font-family:"Courier New",Monospace;
	position:relative;
	color:white;
	margin:30px;
}
	

.rightcolumn{
	padding:50px;
	font-size:28px;
	font-style:italic;
	font-family:"Josefin Sans", Arial;
	position:relative;
	max-width:50%;
	float:left;
	margin:30px;
	color:black;
}

.button{
	background-color:#000000; 
    	border: none;
   	 color: white;	
	margin:0;
    	 text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size:80px;
	letter-spacing:4px;
    	text-decoration: none;	
    	 cursor: pointer;
	
}
.button1{
	text-align:center;
	margin:0;
	padding: 50px 100px 50px 100px;
	border:6px double white;
}

.button:hover{
	background-color:#100a0a;}
.container{
	position:fixed;
	width:50%;
	top:50%;
	left:33.3%;
	opacity:0.7;
	filter:alpha(opacity=70);
	margin:0;
}
	
.star{
	background-image:url("star.gif"); //shooting star assemble
	background-repeat:no-repeat;
	width:320px;	height:50px;
	position:absolute;
	left:-500px;
	top:200px;
	//opacity:0.7;
	//filter: alpha(opacity=70);
 	-webkit-animation-name: shootingstar; 
    	-webkit-animation-duration: 4s; 
	animation-name: shootingstar 4s 3;
    	animation-timing-function:ease-in;
}
@keyframes shootingstar {
	from{ position:relative; left:-500px; top:200px;}
 	to{ position: relative; left:300%; top:10px;}
}
@-webkit-keyframes shootingstar {
	from{ position:relative; left:-500px; top:200px;}
 	to{ position: relative; left:300%; top:10px;}
}
@keyframes fadein{
	from{opacity:0.1;
	     filter: alpha(opacity=10);}
	to{  opacity:1;
	     filter: alpha(opacity=100);}
}
@-webkit-keyframes fadein{
	from{opacity:0.1;
	     filter: alpha(opacity=10);}
	to{  opacity:1;
	     filter: alpha(opacity=100);}
}

@keyframes fadeinbox{
	from{opacity:0.1;
	     filter: alpha(opacity=10);}
	to{  opacity:0.7;
	     filter: alpha(opacity=70);
}}
@-webkit-keyframes fadeinbox{
	from{opacity:0.1;
	     filter: alpha(opacity=10);}
	to{  opacity:0.7;
	     filter: alpha(opacity=70);
}}
@keyframes fadeout{
	from{opacity:0.7;
	     filter: alpha(opacity=70);}
	to{  opacity:0.1;
	     filter: alpha(opacity=10);
}}
@-webkit-keyframes fadeout{
	from{opacity:0.7;
	     filter: alpha(opacity=70);}
	to{  opacity:0.1;
	     filter: alpha(opacity=10);
}}



.about{
	position:absolute;
	float:left;
	animation-name: fadein;
	animation-duration: 4s;
}
.portfolio{
	position:absolute;
	float:left;
	border-radius:50%;
	width:250px height:200px;
	min-width:100px;
	min-height:80px;
	animation-name: fadein;
	animation-duration: 4s;
}


.carta {
	position:absolute;
	float:left;
	border-radius:50%;
	width:100px; height:80px;
	animation-name: fadein;
	animation-duration: 4s;
}

*{	
	box-sizing:border-box;
}
.title{
	background-color:#f2a209; 
	color:white;
	font-family: 'Lobster', cursive;
	padding:30px;
	letter-spacing:4px;
	position:static;
	font-size:60px;
	text-align:center;
	margin-top:5px;
	margin-bottom:0;
	border: 10px double white;
	overflow:hidden;
}



.containermain{
	position:relative;
	width:100%;
	margin:0;
	overflow:hidden;
}

/*menu, title, footer*/
.menu{
	position:relative;
	display:block;
	margin:0;
	padding:0;
	z-index:5;
}
.menu ul{
	padding:15px;
	margin:0;
	text-align:center;
	position:relative;
	list-style-type:none;
	overflow: hidden;
	background-color:#47433c;
}
.menu li a{
	position:relative;
	margin:0;
	padding-left:10%;
	padding-right:10%;
	font: normal normal 500 18px 'Josefin Sans', sans-serif;
	color:##2a363b;
	text-align:center;
	display:block;
	letter-spacing:3px;
	background-color:#47433c;
	color:white;
	float:left;
	text-decoration:none;
	
}

.menu li a:hover{
	margin:0;
	text-decoration:underline;
}
.footer{
	position:relative;
	background-color:#47433c; 
	color:white;
	font-family: 'Baloo Bhaijaan', cursive;
	padding:60px;
	float:left;
	letter-spacing:10px;
	font-size:20px;
	text-align:center;
	margin:0;
	width:100%;
}
.fixed{
	top:0;
	max-width:100%;
	height:100%
}

.containerpic{
	overflow:hidden;
	max-width:100%;
	height:400px;	
	position:relative;
	index-z:1;
	opacity:0.8;
	filter:alpha(opacity=80);;
}
img{	
	
	padding-top:30px;
	width:100%;
	}
.block{
	margin:15px;
	color:white;
	background-color:#47433c;
	position:relative;
	float:left;
	display:block;
	max-width:25%;
	max-height:100%;
	box-shadow:10px 10px #f2a209;
}
.werbung{
	margin:15px;
	background-color:grey;
	width:15%;
	height:100%;
	float:left;
	background-repeat:y;
	}
.roundimg{
	padding:15 px;
	position:relative;
	margin-top:10px;
	border-radius:50%;
	width:50%;
	left:25%;
	
}
.container2{
	position:relative;
	width:100%;
	height:100%;
}
