/* FOR DEVICES */

body{
	margin:0;
	max-height:100%;
	background-color:black;
	overflow-x:hidden;
	
}
.space{
	width:100%;	
	position:relative;
	text-align:center;
	margin-left:0;
	margin-right:0;
	display:inline-block;
	background-color:white;
	background-size:cover;
	background-position:center;
	background-image:url("entrance.png");
}
	
.container{
	background-color:white;
	padding:5%;
	max-height:100%;
	margin:0;
	position:relative;
	max-width:100%;
	
	
}
.simplecontainer{
	margin:0;
	position:relative;
	
	height:500px;
}
.textcontainer{
	margin:0;
	animation-name:fadein;
	animation-duration:4s;
	-webkit-animation:fadein 4s 1;
	}
h2{	
	width:auto;
	display:inline-block;	
	font:50px 'Monoton', cursive;
	padding:25px;
	    margin-bottom: 0;
	border:10px double;
	overflow:hidden;
}
h3{
	width:auto;
	display:inline-block;
	padding:0;
	margin:0;
	font:15px 'Scope One', serif;
}
.containerpic{
	position:relative;
	margin:0;
	width:100%;
	height:250px;
	overflow:hidden;
	background-image:url("bg.png");
	background-attachment:scroll;
	background-size:cover;
	background-position:center;
}
#photo{
	position:relative;
	display:block;
	margin:auto;
	min-width:33.3%;
	max-width:50%;
	float:left;
	border-radius:50%;
	background-origin: content-box;
	-webkit-filter: grayscale(85%); /* Safari 6.0 - 9.0 */
     filter: grayscale(85%);
}
.text{

	position:relative;
	display:block;
	text-align:center;
	padding:50px;
	margin-right:30px;
	}
.footer{
	position:relative;
	margin:0;
	width:100%;
	float:left;
	min-height:25%;
	background-color:orange;
	
	}
.footertext{
	position:relative;
	float:left;
	min-width:50%;
	padding:15px;}

* {
    box-sizing: border-box;
}
.sass{
	color:black;
	background-color:white;
	text-align:center;
	font-family:"Slabo 27px", cursive;
	font-size:22px;
}

iframe{
	border:none;
	background-color:grey;
	width:100%;
	height:85%;
	position:relative;
	display:inline, block;
}	
.bird{
	position:relative;
	display:block;
	margin:0;
	padding-top:10px;
	padding-left:5px;
	float:left;
	height:100px;
	
}

.logo{
	display:block;
	float:left;
	margin:0;
	line-height:50px;
	position:relative;
	left:-50px;
	font:40px 'Bungee Shade', cursive;
}
.border{
	position:relative;
	float:left;
	border:5px double black;
}
.bodgal{
	background-color:white;
	margin:0;
	width:2000px;
	overflow-x:scroll;
	overflow-y:hidden;
}
img.frame{
	float:left;
	position:relative;
	display:inline-block;
	margin:0;
	width:100%;
	border-radius:50%;
	border:3px solid gray;
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}
img.gal{
	margin:15px;
	height:95%;
	float:left;
}

.menu{
	background-color:white;
	position:relative;
	max-width:100%;
	top:0;
	z-index:999;
	margin:0;
	padding:0;
	height:100px;
}
.menu ul{
	text-decoration:none;
	position:relative;
	max-width:100%;
	overflow:hidden;
	padding-top:50%;
}
.menu a{
	font:  25px 'Trocchi', serif;
	float:left;
	text-align:center;
	padding: 20px 50px;
	position:relative;
	color:black;
	width:100%;
	background-color:white;
	text-decoration:none;
}
.menu a:hover{
	Text-decoration:underline;
}
.menu a:active{
	Text-decoration:underline;
	font:bold;
}
@keyframes fadein{
	from{opacity:0.1;
	     filter: alpha(opacity=10);}
	to{  opacity:1;
	     filter: alpha(opacity=100);}
}
@-webkit-keyframes fadein{
	from{opacity:0.1;
	     filter: alpha(opacity=10);}
	to{  opacity:1;
	     filter: alpha(opacity=100);}
}


/*FOR WEBS */



@media only screen and (min-device-width: 738px) {

.menu{
	background-color:white;
	position:fixed;
	width:100%;
	overflow:hidden;
	top:0;
	z-index:999;
	margin:0;
	padding:0;
	height:100px;
}
.menu ul{
	text-decoration:none;
	position:relative;
	width:100%;
	overflow:hidden;
	padding-top:50%;
}
.menu a:hover{
	Text-decoration:underline;
}
.menu a:active{
	Text-decoration:underline;
	font:bold;
}
.menu a{
    font: 25px 'Trocchi', serif;
    float: left;
    display: block;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    color: black;
    width: 250px;
    padding-top: 37.5px;
	padding-left:15px;
	padding-right:15px;
    margin: auto;
    background-color: white;
    text-decoration: none;
}

.simplecontainer{
	margin:0;
	position:relative;
	margin-bottom:100px;
	height:500px;
}
.space{
	width:100%;
	height:500px;	
	position:relative;
	margin-top:100px;
	text-align:center;
	margin-left:0;
	margin-right:0;
	display:inline-block;
	background-color:white;
	background-size:cover;
	background-position:center;
	background-image:url("entrance.png");
}

h2{		
	width:auto;
	display:inline-block;	
	font:100px 'Monoton', cursive;
	padding:25px;
	border:10px double;
	margin-bottom: 0;
}
h3{	margin:0;
	width:auto;
	display:inline-block;
	font:40px 'Scope One', serif;

}
img.frame{
	float:left;
	position:relative;
	display:inline-block;
	margin-left:20px;
	width:300px;
	border-radius:50%;
	border:3px solid gray;
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}
}

/* FOR IPADS AND LANDSCAPE VIEW WHY */
@media only screen and (min-device-width: 568px max-device-width:737px) {

.menu{
	background-color:white;
	position:relative;
	max-width:100%;
	top:0;
	z-index:999;
	margin:0;
	padding:0;
	height:100px;
}
.menu ul{
	text-decoration:none;
	position:relative;
	max-width:100%;
	overflow:hidden;
	padding-top:50%;
}
.menu a{
	font:  25px 'Trocchi', serif;
	float:left;
	text-align:center;
	padding: 20px 50px;
	position:relative;
	color:black;
	width:100%;
	background-color:white;
	text-decoration:none;
}

.space{
	width:100%;	
	position:relative;
	margin-top:0;
	text-align:center;
	margin-left:0;
	margin-right:0;
	display:inline-block;
	background-color:white;
	background-size:cover;
	background-position:center;
	background-image:url("entrance.png");
}

h2{		
	width:auto;
	display:inline-block;	
	font:100px 'Monoton', cursive;
	padding:25px;
	border:10px double;
	 margin-bottom: 0;
}
h3{	
	width:auto;
	display:inline-block;
	font:40px 'Scope One', serif;
	  margin:0; 
}
img.frame{
	float:left;
	position:relative;
	display:inline-block;
	margin-left:20px;
	width:300px;
	border-radius:50%;
	border:3px solid gray;
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}
}

